<main>
  <h1>
    Welcome to the Tome of the Unknown Boilerplate!
  </h1>

  <nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
  </nav>

  <br>

  <!-- This needs to be like, within a component so that it can output to router-outlet -->
  <input [(ngModel)]="searchQuery" (ngModelChange)="search()" type="text" placeholder="Search" />
  <div class="article-listing" *ngFor="let article of articles">
    <a routerLink="/article/{{article.id}}">{{article.id}}. {{article.title}}</a>
    <div>{{article.date}}</div>
    <div>{{article.excerpt}}</div>
  </div>

  <router-outlet></router-outlet>
</main>
